
tessPRF/.DS_Store
tessPRF/sector1/.DS_Store
tessPRF/sector1/tess_prf_camera_1/.DS_Store
.ipynb_checkpoints/tessAPP_example-checkpoint.ipynb
__pycache__/tessAPP.cpython-39.pyc
__pycache__/tessprfmodel.cpython-39.pyc
.DS_Store
.tic152714791.zip
.tic152714791/imageData_TOI_2249.01_sector27.pickle
.tic152714791/tess-s0027-1-3_304.628875_-30.648847_21x21_astrocut.fits
.tic152714791/ticKey_tic152714791.txt
example_output
.ipynb_checkpoints/quick_tess_centroids_tapp-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/tessCentroids.cpython-39.pyc
quick_tess_centroids_tapp.ipynb
__pycache__/keplerAppReports.cpython-39.pyc
__pycache__/keplerAppDetailedReports.cpython-39.pyc
__pycache__/keplerApp.cpython-39.pyc
.ipynb_checkpoints/keplerApp_example-checkpoint.ipynb
tempFits.fits
